<div class="container">
  <h2 class="row">User info</h2>
  <% if @user.errors.any? %>
    <%= @user.errors.count %>error prohibited this obj from being saved:
      <% @user.errors.full_messages.each do |user| %>
        <%= user %>
      <% end %>
    <% end %>
  <%= form_with model:@user, local:true do |f| %>
    <label class="row">Name</label>
    <label class="row">
      <%= f.text_field :name, autofocus: true, id:"inputName"%>
    </label>
    <label class="row">Image</label>
    <label class="row">
      <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
    </label>
    <label class="row">Introduction</label>
    <label class="row">
      <%= f.text_field :introduction, autofocus: true, id:"inputName"%>
    </label>
    <%= f.submit "Update User" %>
  <% end %>
</div>