<div class="container mx-auto my-3" style="width: 200px;">
  <h2 class="row">Editing Book</h2>
  <% if @book.errors.any? %>
  　　<%= @book.errors.count %>error prohibited this obj from being saved:
  　<% @book.errors.full_messages.each do |book| %>
  　　  <%= book %>
    <% end %>
　<% end %>
  <%= form_with model:@book, local:true do |f| %>
    <label class="row">Title</label>
    <label class="row">
      <%= f.text_field :title, autofocus: true, id:"inputName"%>
    </label>
    <label class="row">Opinion</label>
    <label class="row">
      <%= f.text_field :body, autofocus: true, id:"inputName"%>
    </label>
    <label class="row">
      <%= f.submit "Update Book" , class: "my-2 btn btn-success"  %>
    </label>
  <% end %>
  <label class="row">
    <%= link_to "Show", book_path(@book.id) %>
    <div class="mx-1">|</div>
    <%= link_to "Back", books_path %>
  </label>
</div>