<p id="notice"></p>
<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <% @book.errors.full_messages.each do |book| %>
    <%= book %>
  <% end %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/my", user: @user %>
      <%= render "books/sidebar", book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        
        
        
        
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= link_to attachment_image_tag(book.user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg"),user_path(book.user) %></td>
              <td>
                <%= link_to book_path(book.id) do %>
                  <%= book.title %>
                <% end %>
              </td>
              <td><%= book.body %></td>
              <td>
                <% if book.favorited_by?(current_user) %>
                  <%= link_to book_favorites_path(book), method: :delete do %>
                    <div class="text-danger">
                      <i class="fas fa-heart"></i><%= book.favorites.count %>
                    </div>
                  <% end %>
                <% else %>
                  <%= link_to book_favorites_path(book), method: :post do %>
                    <div class="text-primary">
                      <i class="fas fa-heart"></i><%= book.favorites.count %>
                    </div>
                  <% end %>
                <% end %>
              </td>
              <td>コメント数：<%= book.book_comments.count %></td>
            </tr>
          <% end %>
        </tbody>
        
        
      </table>
    </div>
  </div>
</div>