<p id="notice"></p>
<% if flash[:notice] %>
　　<%= flash[:notice] %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/my", user: @user %>
      <%= render "books/sidebar", book: @book_new %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>



      <table class="table table-striped">
        <tbody>
          <tr>
            <td>
              <%= link_to attachment_image_tag(@book.user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg"),user_path(@user.id) %>
              <%= link_to user_path(@user.id) do %>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
            <td>
              <% if @book.favorited_by?(current_user) %>
                <%= link_to book_favorites_path(@book), method: :delete do %>
                  <div class="text-danger">
                    <i class="fas fa-heart"></i><%= @book.favorites.count %>
                  </div>
                <% end %>
              <% else %>
                <%= link_to book_favorites_path(@book), method: :post do %>
                  <div class="text-primary">
                    <i class="fas fa-heart"></i><%= @book.favorites.count %>
                  </div>
                <% end %>
              <% end %>
            </td>
            <td>コメント数：<%= @book.book_comments.count %></td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to edit_book_path(@book) do %>
                  <button type="button" class="ml-2 btn btn-success">
                    Edit
                  </button>
                <% end %>
                <%= link_to book_path(@book), method: :delete do %>
                  <button type="button" class="ml-2 btn btn-danger">
                    Destroy
                  </button>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped">
        <tbody>
          <% @book.book_comments.each do |book_comment| %>
            <tr>
              <td><%= link_to attachment_image_tag(@book.user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg"),user_path(@user.id) %></td>

              <td>
                <%= link_to user_path(book_comment.user.id) do %>
                  <%= book_comment.user.name %>
                <% end %>
              </td>

              <td><%= book_comment.comment %></td>
              <td>
                <% if book_comment.user == current_user %>
                  <%= link_to book_book_comment_path(book_comment.book, book_comment), method: :delete do %>
                    <button type="button" class="ml-5 btn btn-danger">
                      Destroy
                    </button>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>


      <div class="new-comment">
        <%= form_with(model:[@book, @book_comment], local: true) do |f| %>
          <%= f.text_area :comment, size: "90x5" %></br>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>